<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/main.css}" />
    <script th:src="'html/'+${js}+'.js'" src="01.js" > </script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">   -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <!-- <script src="https://unpkg.com/swiper/js/swiper.js"> </script>   -->
    <script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
    <script src="vue.min.js"> </script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .swiper-slide {
            background: red;
        }

        .wrap-bg {
            width: 100%;
            height: 100%;
            background: blue;
            position: absolute;
            z-index: 99;
        }
    </style>
</head>

<body>
    <!-- 1289451561ww ${js}
    <span th:text="${js}"></span> -->

    <div class="swiper-container">
        <!-- 使用canvas作为背景 -->

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="wrap-bg" v-if="!isSingleCanvas">
                    <canvas id="canvas" width="" height="" class="canvas-bg canvas" ref="canvas"></canvas>
                </div>
                
            </div>
      
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- 如果需要滚动条 -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>

    <script>
        
        document.getElementById("canvas").height=window.innerHeight
        document.getElementById("canvas").width=window.innerWidth
        var mySwiper = new Swiper('.swiper-container', {
            notNextTick: true, //notNextTick是一个组件自有属性，如果notNextTick设置为true，组件则不会通过NextTick来实例化swiper，也就意味着你可以在第一时间获取到swiper对象，假如你需要刚加载遍使用获取swiper对象来做什么事，那么这个属性一定要是true
            direction: "vertical", //水平方向移动
            grabCursor: true, //鼠标覆盖Swiper时指针会变成手掌形状，拖动时指针会变成抓手形状
            setWrapperSize: true, //Swiper使用flexbox布局(display: flex)，开启这个设定会在Wrapper上添加等于slides相加的宽或高，在对flexbox布局的支持不是很好的浏览器中可能需要用到。
            autoHeight: true, //自动高度。设置为true时，wrapper和container会随着当前slide的高度而发生变化
            slidesPerView: 1, //设置slider容器能够同时显示的slides数量(carousel模式)。可以设置为数字（可为小数，小数不可loop），或者 'auto'则自动根据slides的宽度来设定数量。loop模式下如果设置为'auto'还需要设置另外一个参数loopedSlides。
            mousewheel: true, //开启鼠标滚轮控制Swiper切换。可设置鼠标选项，默认值false
            mousewheelControl: true, //同上
            height: window.innerHeight, // 高度设置，占满设备高度
            resistanceRatio: 0, //抵抗率。边缘抵抗力的大小比例。值越小抵抗越大越难将slide拖离边缘，0时完全无法拖离。本业务需要
            observeParents: true, //将observe应用于Swiper的父元素。当Swiper的父元素变化时，例如window.resize，Swiper更新
            pagination: {
                el: ".swiper-pagination"
            }
        })
        canvasControler[0].canvasEffect(document.getElementById("canvas"))





    </script>
</body>

</html>